/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

/* Banner */
#banner {
    text-align: center;
    background-color: #008cba;
    color: #fff;
    padding: 50px 0;
}

/* Features */
#features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}

/* Contact */
#contact {
    background-color: #ddd;
    padding: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form input,
#contact form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#contact form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin-top: 20px;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #banner {
        padding: 30px 0;
    }

    .feature {
        flex: 1 1 calc(50% - 20px);
    }

    #contact form input,
    #contact form textarea {
        width: 100%;
    }
}
